
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: Madrigal;
    src: url(../font/Madrigal.ttf);
  }

:root{
    --main-color: #3f8a4b;
}

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    background-image:  radial-gradient(var(--main-color) .2px, transparent 1.05px), radial-gradient(var(--main-color) .2px, white 1.05px);
    background-size: 42px 42px;
    background-position: 0 0,21px 21px;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: var(--main-color);
}

a:hover {
    color: var(--main-color);
    font-size: 1.1rem;
}

/* INDEX.PHP */

header {
    border-bottom: 1px solid var(--main-color);
    box-shadow: 0 0 12px var(--main-color);
}

#logo {
    font-family: Madrigal, sans-serif;
    font-size: 6rem;
}

.productos{
    margin-bottom: 1rem;
}

.productos:hover {
    scale: 1.05;
    z-index:99;
    border: 1px solid var(--main-color);
    border-radius: 15px;
    box-shadow: 0 0 12px var(--main-color);
    font-size: 1.2rem;
}

#compra{
    margin-bottom: 100px;
}

.fa-circle-xmark {
    color: rgb(176, 23, 23);
    cursor: pointer;
}

/* icono para modificar item */

.fa-pen-to-square {
    color: rgb(102, 102, 221);
    cursor: pointer;
}

.list-group {
    border-radius: 10px;
    width: 70%;
    min-width: 400px;
    font-size: .9rem;
}

/* Colores */
/* Que cada 3 elementos se va a repetir esa secuencia de colores */

.list-group-item:nth-child(3n + 1){
    background-color: #b5e383b7;
}

.list-group-item:nth-child(3n + 2){
    background-color: #b5e38366;
}

.list-group-item:nth-child(3n + 3){
    background-color: #b5e38328;
}

#textoTotal {
    font-size: 1.7rem;
    font-weight: bold;
    display: none;
    justify-content:flex-end;
    align-items: center;
    margin-right: 2rem;
    position: fixed;
    top: 4rem;
    right: 0;
    border-radius: 10px;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 0 11px var(--main-color);
    user-select: none;
}

#enviarDatos {
    background: 0;
    border: 0;
}

.fa-cart-shopping {
    margin-left: 1.5rem;
    color: #84aa5d;
    cursor: pointer;
}

.no-visible{
    display: flex;
}


/* FORMULARIOS */

.form-control:focus {
    border-color: var(--main-color);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--main-color);
  }


/* FOOTER */

footer {
    color: var(--main-color);
    border-top: 1px solid var(--main-color);
    box-shadow: 0 0 12px var(--main-color);
}

footer a {
    color: var(--main-color);
    letter-spacing: 1px;
    font-weight: normal;
}

footer a:hover{
    color: var(--main-color);
}




